:root {
    --border-radius: 20px;

}

nav {
    background-image: linear-gradient(-90deg, #25215d, #005ca9);
    color: #F7F7F7;
    margin-bottom: 20px;
    justify-content: center;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    max-width: 800px;

}

nav>*>*>*>*{
    color: #F7F7F7;
}

article{ 
    cursor: pointer; 
}

#chatbox {
    height: 250px;
    width: 450px;
}

#main-container{
    max-width: 800px;
    margin: 0 auto;
}


#splash {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

#icon {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}


#header {
    text-align:center;
}

#first-article{
    text-align:center;
}

.card {
    margin: auto;
    border-radius: 20px;
    text-align:center;
    padding: 0px;
    max-width: 400px;
}

.image {
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.card>*{
    margin: 0px;
    padding: 0px;
}

.none {
    display:none;
}

ul {
    list-style-type: circle;
}